.span{
    color:rgb(94, 54, 27);
}
h1 {
    font-family:cursive; 
}
h3{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
}
.para{
    padding: 5%;
}
#im{
    height: 400px;
    width: 200px;
    border-radius:10px ;
    border: 5px solid black;
    margin-right: 15px;
    
}
section{
    display:flex;
    background-color: rgba(204, 96, 45, 0.404) ;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.205);
}