body{
    margin: 0;
}
.span{
    color:rgb(94, 54, 27);
}
h1 {
    font-family:cursive; 
}
h3{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
}
.para{
    padding: 5%;
}
#im{
    height: 480px;
    width: 200px;
    border-radius:10px ;
    border: 5px solid rgba(5, 0, 0, 0.884);
    margin-right: 15px;
    
}
section{
    display: flex;
    background-color: rgba(204, 96, 45, 0.404) ;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.205);
}
#btn{
    background-image:linear-gradient(rgb(124, 75, 0),rgb(201, 110, 24));
    border-radius: 15px;
    padding: 10px 35px;
    font-weight: 700;
}
#rn{
     color: rgb(94, 54, 27);
     font-weight: 800;
}