body{
    margin: 0;
}
.span{
    color:rgb(94, 54, 27);
}
.ending{
    font-family:cursive; 
}
h3{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
}
.para{
    padding: 5%;
}
#im{
    height: 480px;
    width: 200px;
    border-radius:10px ;
    border: 5px solid ;
    border-image:linear-gradient(rgb(70, 0, 70),gray,rgba(65, 0, 20, 0.966)) ;
    border-image-slice: 1;
    margin-right: 15px;
    box-shadow: 10px 10px 15px black;
    
}
.sec1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    background-color: rgba(204, 96, 45, 0.404) ;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.212);

    
}
#btn{
    background-image:linear-gradient(rgb(124, 75, 0),rgb(201, 110, 24));
    border-radius: 15px;
    padding: 10px 35px;
    font-weight: 700;
}
#rn{
     color: rgb(94, 54, 27);
     font-weight: 800;
}
#img2{
    height: 300px;
    width: 350px;
    border-radius: 10px;
    border: 7px solid ;
    margin-left: 100px;  
    box-shadow: 10px 10px 15px black;
    border-image:linear-gradient(rgb(49, 2, 2),rgb(0, 11, 46),rgb(34, 0, 34));
    border-image-slice: 1;
}
.sec2 {
    display: flex;
    background-color: rgba(204, 96, 45, 0.404) ;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.158);
    text-align: justify;    
}
.sec3{
    display: flex;
    background-color: rgba(204, 96, 45, 0.404) ;
    border: 5px solid rgba(0, 0, 0, 0.185);

}
#learing{
    padding: 10px;
    margin-right:20px;
    width:50%;
    border-radius: 5px;
    box-shadow: 10px 10px 15px black;
    border-left: 5px solid;
        
}
#hobbies{
    border: 7px solid;
    border-image:linear-gradient(rgba(71, 1, 1, 0.945),rgb(49, 2, 2),rgb(68, 0, 68));
    border-image-slice: 1;
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    text-align: left;   
}
.last{
    text-align: center;
    font-family:georgia;
    border: 5px solid;
    border-image:linear-gradient(rgba(82, 5, 18, 0.829),rgba(66, 2, 38, 0.904));
    border-image-slice: 1;
    background-color:rgba(204, 96, 45, 0.404) ;
    border-radius: 3px;
    
}